/Assets/Settings.meta
/Assets/Scripts.meta
/Assets/Resources.meta
/Assets/Scenes.meta
/Assets/Prefabs.meta
/Assets/Plugins.meta
/Assets/ScriptableObjects.meta
/Assets/Font.meta
/Assets/ImportedAssets.meta
